.App{
  display: inline-block;
  margin: 50px;
  background-color: darkcyan;
  padding: 10px;
  border: 2px solid aquamarine;
  border-radius: 10px;
  color: darkslategrey ;
}

.Number{
  background-color: lightskyblue;
  margin-bottom: 10px;
  text-align: center;
  font-size: 300%;
  height: 80px;
  width: 150px;
  border-radius: 5px;
}

.button button {
  border-color: teal;
  background-color: lightskyblue;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonInc{
  border-radius: 5px;
  border: 2px solid aquamarine;
  margin-left: 15px;
  display: inline-block;
}
.button button:hover {
  background-color: teal; /* Green */
  color: white;
}

.red{
  color: red;
  background-color: lightskyblue;
  margin-bottom: 10px;
  text-align: center;
  font-size:350%;
  height: 80px;
  width: 150px;
  border-radius: 5px;
}
