.App{
  display: flex;
  margin-left: 500px;
  margin-right: 690px;
  background-color: darkcyan;
  margin-top: 15%;
  padding: 10px;
  border: 2px solid aquamarine;
}

.Number{
  background-color: lightskyblue;
  margin-bottom: 10px;
  text-align: center;
  font-size: 300%;
  height: 80px;
  width: 150px;
  border-radius: 5px;
}
.buttonRes{
  background-color: lightskyblue;
  border: 0px;
  border-radius: 5px;
  margin-left: 50px;
}
.buttonInc{
  background-color: lightskyblue;
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 0px;
}
.button{
  border-radius: 5px;
  padding: 5px;
  border: 2px solid aquamarine;
}
.red{
  color: red;
  background-color: lightskyblue;
  margin-bottom: 10px;
  text-align: center;
  font-size:350%;
  height: 80px;
  width: 150px;
  border-radius: 5px;
}